<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856411545072-82cbtnp2b41b2nf8mlm72re9kkcncq8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856411545072-82cbtnp2b41b2nf8mlm72re9kkcncq8h</string>
	<key>API_KEY</key>
	<string>AIzaSyAJeTjHfxB7jEXVQ_z8iALBgexx9rCrAq4</string>
	<key>GCM_SENDER_ID</key>
	<string>856411545072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.chessclub.app</string>
	<key>PROJECT_ID</key>
	<string>chesstournament-6213e</string>
	<key>STORAGE_BUCKET</key>
	<string>chesstournament-6213e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856411545072:ios:c1964a50da6e65e4471135</string>
	<key>DATABASE_URL</key>
	<string>https://chesstournament-6213e.firebaseio.com</string>
</dict>
</plist>