
.radioButtons input[type=radio], .radioButtons input[type=checkbox] {
	display: none;
}

.radioButtons input[type=radio]+label, .radioButtons input[type=checkbox]+label {
	width: auto;
	display: inline-block;
	margin: 0 -1px;
	padding: 10px 15px;
	margin-bottom: 0;
	font-size: 16px;
	xline-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #285e8e;
	color: #4a6ea9;
	background-color: #fff;
	border-color: #285e8e;
}

.radioButtons input[type=radio]:checked+label, .radioButtons input[type=checkbox]:checked+label {
	color: #fff;
	background-color: #4a6ea9;
	border-color: #285e8e;
}
